* {
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.welcome-msg {
  font-size: 60px;
}

.upper-level-list {
  font-size: 40px;
  list-style-type: none;
}

.container {
  padding: 20px;
}

.nested-list {
  font-size: 30px;
  display: none;
}

.feelings {
  font-size: 40px;
}

.feelings:hover, .nested-list li:hover {
  color: red;
  font-weight: bolder;
}

.nested-list li {
  color: black;
  list-style: none;
}

.emoji {
  float: left;
  font-size: 40px;
  padding-right: 5%;
}
